* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav{
    width: 71%;
    max-width: 1140px;
    line-height: 92px;
    border-bottom: 1px;
    padding: 16px 120px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
.menu{
    display: flex;
    max-width: 365px;
    line-height: 24px;
    gap: 32px; 
    justify-content: space-between;
}
.menu a{
    color: #000000;
    text-decoration: none;
}
.logo {
    max-width: 139px;
    max-height: 60px;
}
.btn{
    max-width: 164px;
    max-height: 44px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px ;
    gap: 10px;
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
}
.btn:hover{
    cursor: pointer;
}
.body-container{
    background-color: #FFFFFF;
    background-image: url("../assets/hero-bg.png");
    width: 71%;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px;
    padding: 70px 120px 134px 120px;
    margin: 0px auto;
    gap: 40px;
    align-items: center;
    justify-content: center;
    
}
.body-sec{
    max-width: 1360px;
    
    gap: 32px;
    margin: 0 auto;
    align-items: center;
    
}
.early-access{
    max-width: 229px;
    border-radius: 1000px;
    padding: 8px 12px;
    gap: 6px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-color: #FFFFFF;
    color: #469165; 
    
}
.h4{
    margin: 0;
    max-width: 183px;
    max-height: 19px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    flex-wrap: nowrap;
}
.dot-outer{
    width: 12px;
    height: 12px;
    background-color: rgba(48, 184, 104, 0.4);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.dot-inner{
    width: 6px;
    height: 6px;
    background-color: #469165;
    border-radius: 50%;
}
.body-main{
    width: 770px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

   
}
.first-line{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px
    
}
.second-line{
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: #30B868;
}
.lorem{
    width: 1360px;
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}

